.banner-war{
	width:1423px;
	height:480px;
	margin: 0 auto;
}
.banner{
	width:1200px;
	height:480px;
	margin: 0 auto;
}
.run-ul{
	width: 970px;
	height: 480px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.run-ul li{
	position: absolute;
	top: 0px;
	left: 0px;
	display:none;
}
.lang{
	width:220px;
	height:480px;
	background: #e8e3eb;
	opacity: 0.6;
	position: relative;
}
.ban-ul{
	position:absolute;
	top:0px;
	left: 0px;
}
.li-inside{
	width:680px;
	height:438px;
	position:absolute;
	top:0px;
	left:219px;
	display:none;
	background: #fff;
	padding:20px;
}
.li-inside ul{margin-top: 10px;
	width:613px;
	heigth:70px;
}
.li-inside ul li{
	float: left;
	width:90px;
	height:68px;
	border: 1px solid #0f6;
	margin: 15px 0 15px 15px;
}
.inner1{
	width:267px;
	height: 260px;
	font-size: 12px;
	padding-left: 40px;
}
.inner1 dl{
	width: 307px;
	height: 80px;
}
.inner1 dl dt{
	width:48px;
	height: 44px;
	float: left;
}
.inner1 dl dd{
	width:208px;
	height: 80px;
	float: left;
	margin-left: 20px;
}
.inner1 dl dd a{
	color: #666;
	margin-right: 20px;
	line-height: 18px;
}
.inner2{
	width:220px;
	height: 220px;
	border: 4px dashed #0f6;
	background:url("../img/new6.png") no-repeat; 
}
.lang li{
	width:179px;
	height: 80px;
	padding:25px 20px 0;
	mairgin:2px 0;
}
.lang li h3{
	line-height:16px;
	font-size: 14px;
	margin-bottom: 16px;
}
.lang li p a{
	font-size: 12px;
	margin-right: 15px;
	line-height: 24px;
}
.daling-main{
	width:1200px;
	height:auto;
	min-height:5306px;
	margin:90px auto 50px;
	background-color: #f9f9f9;
}
.title{
	display: block;
	width:433px;
	height:1px;
	border-top: 1px solid #666;
	margin: 0 auto;
	position:relative;
}
.title span{
	position: absolute;
	top:-20px;
	left:143px;
	display: block;
	width:147px;
	height:30px;
	line-height: 30px;
	text-align: center;
	font-size: 30px;
	background:#f9f9f9;
}
.daling-new{
	width: 1200px;
	height:734px;
	margin:0 auto;
}
.title-p{
	display: block;
	width:1137px;
	height:74px;
	padding:22px 0 14px 52px;
	margin-left:11px;
	background: url("../img/sun.png") no-repeat left center; 
}
.title-p span{
	line-height: 64px;
}
.new-span1{
	font-size: 16px;
	margin-right:28px;
}
.huan{
	display:block;
	width:90px;
	height:30px;
	text-align: center;
	line-height: 30px;
	background: #e14958;
	color:#fff; 
	margin:19px 40px 0 0; 
}
}
.huan:hover{
	text-decoration:underline;
}
.daling-new-ul{
	width:1200px;
	height:660px;
	margin: 0 auto;
}
.ul-1{
	width:1200px;
	height:380px;
}
.ul-1 li{
	display: inline-block;
	width:283px;
	height:380px;
	float:left;
	border:1px solid #e5e5e5;
	margin-left:20px;
	background: url("../img/new1.png") no-repeat top left;
	position: relative;
}
.ul-1 .li-first{
	margin-left: 0;
}
.li-mag{
	width:233px;
	height:82px;
	padding:0 25px;
	position: absolute;
	bottom: 30px;
	left: 0;
}
.new-p1{
	line-height: 45px;
	font-size: 16px;
	color:#ed4958;
}
.new-p1 span{
	font-size: 10px;
	color:#666;
}
.new-li-span1{
	text-decoration:line-through;
	margin-left: 10px;
}
.new-p2{
	font-size: 10px;
}
.new-span3{
	color: color:#ed4958;
}
.new-p2 a{
	color: #666;
}
.new-p2 a:hover{
	text-decoration:underline;
}
.ul-2{
	width:1200px;
	height:238px;
	margin-top: 23px;
}
.ul-2 li{
	width:589px;
	height:238px;
	border:1px solid #e5e5e5;
}
.ul-mag{
	width:225px;height:170px;
	padding:70px 25px 0 50px;
}
.worth-p{
	background: url("../img/true.png") no-repeat left center; 
	font-size: 16px;
	margin-top: 25px;
}
.worth-span{
	font-size: 10px;
	margin-left: 25px;
}
.all{
	display: block;
	width:1200px;
	height:36px;
	margin: 0 auto;
	margin-left: 37px;
	padding-left:22px; 
	line-height: 36px;
	background: url("../img/sifang.png") no-repeat left center;
}
.good{
	width:1200px;
	height: 234px;
	margin: 0 auto 45px;
	background-color: #fff;
}
.good ul li{
	width:208px;
	height:140px;
	margin: 45px 10px;
	float: left;
}
.say-good{
	width:1200px;
	height:1001px;
	background-color: #fff;
	padding-top:42px; 
	margin: 0 auto 45px;
}
.tap{
	display: block;
	width: 1163px;
	height:30px;
	line-height: 30px;
	border-bottom:1px solid #e14958;
	padding-left: 37px;
}
.tap a{
	display: block;
	width:90px;
	height:30px;
	border:1px solid #e14958;
	border-bottom: none;
	margin-right: 10px;
	float: left;
	text-align: center;
	color: #666;
}
.say-good ul li{
	width:282px;
	height:444px;
	margin:40px 0 10px 100px;
	float: left;
	position: relative;
}
.pic-a{
	display: block;
	width:280px;
	height:280px;
}
.li-div{
	width:280px;
	height:142px;
	position: absolute;
	bottom: 0px;padding-left:2px;
}
.again{
	width:1200px;
	height:470px;
	margin:0 auto 45px;
	background-color: #fff;
}
.again ul{
	width:394px;
	height:470px;
	float: left;
	margin-right: 2px;

}
.again ul p{
	text-align: center;
}
.again-li{
	width:394px;
	height:52px;
	margin-top: 2px;
	overflow: hidden;
	background: pink;
}
.again-li dl{
	width:390px;
	height: 160px;
}
.again-li dl dt,dd{
	width:166px;
	height: 166px;
	float: left;
	margin:10px 0 0 15px;
}
.againFir{
	height:215px;
	width:394px;
}
.heima{
	width:1200px;
	height:972px;
	margin: 0 auto 50px;
	background-color: #fff;
}
.heima ul li{
	width:282px;
	height:444px;
	margin:40px 0 10px 100px;
	float: left;
	position: relative;
}
.heima-title span{
	width:207px;
	left:114px;
}
.title-p3{
	display: block;
	width:1137px;
	height:74px;
	padding:22px 0 14px 52px;
	margin:20px 0 0 11px;
	background: url("../img/times.png") no-repeat left center; 
}
.title-p3 span{
	line-height: 64px;
}
.temai{
	width:1200px;
	height: auto;
	min-height: 1232px;
	margin: 0 auto;
}
.zaishou{
	width:786px;
	height:auto;
	min-height: 1232px;
}
.zaishou li{
	width:786px;
	height:282px;
	margin-bottom: 17px;
	background-color: #fff;
}
.zaishou li a{
	display: block;
	width:382px;
	height:280px;
	padding-left: 106px;
}
.temai-li-div{
	width:292px;
	height:269px;
}
#nowbuy{
	background-color: #e14958;
	display: block;
	width:140px;
	height:38px;
	line-height: 38px;
	text-align: center;
	padding-left: 0;
	color: #fff;
	font-size: 16px;
}
#nowbuy:hover{
	text-decoration: underline;
}
.buy-span{
	line-height: 38px;
	margin-right: 52px;
}
.more{
	text-align: center;
	border:1px solid #e0e0e0;
	background-color: #f3f3f3;
	display: block;
	height:27px;
	line-height: 27px;
	color: #666;
}
.yushou{
	width:386px;
	height:1051px;
}
.yushou li{
	width:386px;
	height:195px;
	margin-bottom: 20px;
	background-color: #fff;
}
.yushou-tit{
	text-align: center;
	display: block;
	width:386px;
	height:58px;
	font-size: 20px;
	line-height: 24px;
}
.yushou-tit span{
	font-size: 14px;
}
.yushou-img{
	display: block;
	width:236px;
	height:193px;
}
.yushou-mag{
	width:124px;
	height: 188px;
	padding: 0 12px;
}
.yushou p{
	margin-top: 15px;
	font-size: 12px;
}
.yushou-mag p a{
	color: #666;
}
.yushou-mag p a:hover{
	text-decoration: underline;
}
.yushou-p3{
	display: block;
	width: 124px;
	height: 20px;
}
.yushou-a1{
	display: block;
	width:27px;
	height: 20px;
	padding-left: 18px;
	line-height: 20px;
	background:url("../img/yushou-a1.png") no-repeat left center;
}
.yushou-a2{
	display: block;
	width:75px;
	height: 20px;
	background: url("../img/yushou-a2.png") no-repeat;
}
.beside{
	position:fixed;
	top:0;
	right:0;
	background:#333;
	min-width:40px;
	width:auto;
	height:100%;
	z-index: 100;
}
.car1{
	margin-top: 110px;
	color:#fff;
	position: relative;
}
.oncar{
position: absolute;
top:1px;
left:0px;
}
.car1 a{
	display:block;
	width:14px;
	height:42px;
	color:#fff;
	margin-left:12px;
}
.goods-cont{
	margin-left: 15px;
}
.side-goods{
	margin-left:15px;
	width:280px;
	height:100%;
	display: none;
	background-color: #fff;
}