a,b,body,dd,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,iframe,img,label,p,span,strong,ul,li,ol{
    margin: 0;
    padding: 0;
}
.left{
	float:left;
}
.right{
	float:right;
}
html{
	width:100%;
}
body{
	font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
    color:#666;
}
a{
	text-decoration: none;
}
ul li{
	list-style: none;
}
img,input,button{
	border:none;
}
.war-daling-header{
	width:100%;
	background-color: #f2f2f2;
	border-bottom:1px solid #dadada;
	margin-bottom: 30px;
}
.daling-header{
	width:1200px;
	height:30px;
	margin:auto;
}
.daling-header a{
	line-height: 30px;
	color:#666;
}
.daling-header a:hover{
	text-decoration: underline;
	color:#0f3;
}
.daling-user span{
	margin: 0 5px;
}
.span-phone{
	background: url("img/phone.png") no-repeat left center;
	padding-left: 18px;
}
.next-header{
	width:1200px;
	margin: auto;
	height:87px;
	position: relative;
}
.logo{
	display: inline-block;
	width:280px;
	height:60px;
	background:url("img/logo.png");
}
.youhui{
	display:block;
	width:120px;
	height:100px;
	position:absolute;
	top:-20px;
	left:300px;
	background:url("img/youhui.gif");
}
.search{
	width:635px;
	height:87px;
}
.inputtext{
	width:635px;
	height:87px;
}
.keyword{
	width:301px;
	height:34px;
	border:1px solid #6b4185;
	line-height: 36px;
}
.btn-keyword{
	width:81px;
	height:38px;
	background-color: #6b4185;
	color:#fff;
	line-height:38px;
	font-size:16px;
	text-align: center;
}
.p-a{
	margin-top:5px;
	height:18px;
}
.p-a a{
	line-height: 18px;
	color: #666;
	margin-right:8px; 
}
.p-a a:hover{
	text-decoration: underline;
	color:#0f3;
}
.car a{
	display: block;
	width:168px;
	height:38px;
	margin-top: 0;
	background: #f2f2f2 url("img/car.png");
	border-radius: 2px;
	position: relative;
}
.cont{
	position: absolute;
	display: block;
	height:20px;
	width:20px;
	background-color:#e34755;
	border-radius: 10px;
	top:-5px;
	right:21px;
	color:#fff;
	line-height: 20px;
	text-align:center;
}
.war-nav{
	width:100%;
	height:30px;
	background-color: #333;
}
.nav{
	width:1200px;
	height:30px;
	margin:auto;
}
.list-nav{
	width:220px;
	height:30px;
	background-color: #654579;
	text-align: center;
}
.nav a{
	font-size: 16px;
	color:#fff;
	line-height: 30px;
}
.nav a:hover{
	color: #6ff;
}
.nav p{
	margin-right: 100px;
}
.nav p a{
	margin-right: 37px;
	padding: 0 10px;
}
.footer{
	width:1423px;
	height:391px;
	margin:0 auto;
}
.ul-p{
	width:1423px;
	height:79px;
	line-height:79px;
	border-top:1px solid #d8d8d8;
	border-bottom:1px solid #e0e0e0;
	box-shadow: 0 2px 2px #e0e0e0; 

}
.ul-p li{
	float:left;
	height:79px;
	line-height: 79px;
	margin-left: 129px; 
}
.li-fir{
	width:170px;
	background: url("img/footer1.png") no-repeat center right;
	padding-right:72px;
}
.li-sec{
	width:145px;
	background: url("img/footer2.png") no-repeat center left;
	padding-left: 40px;
}
.li-thir{
	width:126px;
	background: url("img/footer3.png") no-repeat center left;
	padding-left: 40px;
}
.li-four{
	width:110px;
	height:79px;
	background: url("img/footer4.png") no-repeat center left;
	padding-left: 40px;
}
.compa{
	width:1052px;
	height:115px;
	margin:0 auto;
	border-bottom:1px solid #d8d8d8;
	padding: 30px 50px 0;
}
.compa p span{
	font-size: 14px;
	line-height:21px;
}
.compa p{
	display: inline-block;
	font-size: 18px;
}
.compa1{
	width:660px;
	height:60px;
}
.compa2{
	width:327px;
	height:79px;
}
.footer-p1{
	margin-top: 20px;
	text-align: center;
}
.footer a{
	margin: 0 8px;
	color:#666;
}
.footer a:hover{
	text-decoration:underline; 
}
.footer-p2{
	display:block;
	width: 545px;
	height:41px;
	text-align: center;
	margin:20px auto;
	line-height: 41px;
}
.footer-p2 a{
	display: block;
	width:114px;
	height:41px;
}
.img-a1{
	background: url("img/honest1.png");
}
.img-a2{
	background: url("img/honest2.png");
}
.footer-p2 span{
	display: block;
	width:114px;
	height:41px;
	background: url("img/honest3.png");
}
.footer-p3{
	text-align: center;
	color:#666;
}